@font-face {
  font-family: 'Star Jedi';
  src: url('/fonts/Starjedi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Orbitron';
  src: url('/fonts/Orbitron-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  width: 100%;
}

.table-view {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.table {
  width: 100%;
}

@media (max-width: 768px) {
  .table {
    font-size: 0.8em; /* Adjust font size for smaller screens */
  }

  .table-view {
    padding: 10px;
  }
}

.table-title {
  text-align: center;
  margin: 30px 0;
  font-size: 1.5em;
}

.detail-image {
  object-fit: cover;
  margin-right: 20px;
  max-height: 300px;
}

.detail-container {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 20px;
  border-radius: 8px;
  max-width: 100%;
  margin: 20px auto;
}

.detail {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.detail-row {
  display: flex;
  margin-bottom: 40px;
  flex-wrap: wrap;
  gap: 0.8em;
}

.detail-attribute {
  word-break: break-word;
  font-family:
    Star Jedi,
    Arial,
    sans-serif;
  font-size: 0.7em;
  width: 150px;
}

.detail-value {
  flex: 1;
  word-break: break-word;
  font-weight: bolder;
  font-family: Orbitron, Arial, sans-serif;
  font-size: 0.65em;
}

.detail-list-value {
  display: grid;
  grid-template-rows: repeat(5, auto);
  grid-auto-flow: column;
  padding: 0;
}
